table {
    font-size: 87.5%;
}
.chosen-container-single .chosen-single {
    background: none !important;
}
.td-dark {
    background-color:rgba(0,0,0,0.1);
}
.multi-gen-hint {
    font-size: 9pt;
    display: block;
    padding: 5px 0;
    color: rgba(0, 0, 0, 0.5);
}
input.book-title {
    float: left;
    display: inline-block !important;
    padding-right: 40px !important;
}
button.book-title-add {
    width: 25px;
    margin-left: -50px;
    height: 34px;
    float: left;
    border: none;
    background: transparent;
    color: #ccc;
}
button.book-title-remove {
    width: 25px;
    margin-left: -25px;
    height: 34px;
    float: left;
    border: none;
    background: transparent;
    color: #ccc;
}
button.book-title-add:hover {
    color: #888;
}
button.book-title-remove:hover {
    color: #888;
}